<!-- author: Jennifer Wu -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/typeahead.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/typeahead.js/dist/typeahead.jquery.js"></script>
    <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/general.js"></script>
    <script src="/javascripts/sCommon.js"></script>
  </head>
  <body>
    <img class="bg" src="/stylesheets/images/background.jpg">
    <div class="layer">
      <button id="logout-btn" class="btn btn-primary pull-right">Logout</button>
      <h1>Please fill out the common application</h1>
      <div id="common-main-container"></div>
    </div>
  </body>
</html>
