<!-- author: Maddie Dawson -->

<tr class="clickable listing-row" data-listing-id={{listingid}}>
  <td>{{listing.title}}</td>
  <td>{{getValue numApplicantsMap listingid}}</td>
  <td>{{formatDate listing.deadline}}</td>
</tr>
