<!-- author: Maddie Dawson -->

<div class="input-group"> 
	<span class="input-group-addon">Filter</span>
    <input class="form-control" id="filter" type="text" placeholder="Type here...">
</div>

<br>