<!-- author: Heeyoon Kim -->

<div class="error" id = "s-listings-error"></div>

<div>

  <!-- Listing Modal -->
  <div class="modal fade" id="listingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-listing-id="{{listingId}}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="listing-modal-header"></h4>
        </div>
        <div class="modal-body" id="listing-modal-content"></div>
      </div>
    </div>
  </div>

  <h2>Current available listings</h2>
  <p>Click on a listing for more detailed information.</p>
  <br>

  {{> filter_bar}}

  <table class="table table-hover table-condensed tablesorter" id="s-listing-table">

    <thead class="clickable-headers">
      <th>Company</th>
      <th>Title</th>
      <th>Deadline</th>
    </thead>

    <tbody class="searchable">
      {{#each listings}}
        {{> listing this userListings=../userListings}}
      {{else}}
        <tr>
          <td>No listings available</td>
        </tr>
      {{/each}}
    </tbody>

  </table>
</div>
